body{
  margin: 0px;
  background: #96C6D3;
}

/**
    STYLE BUTTONS
**/

.button-container {
  width: 100%;
  height: 50px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

button{
  height: 40px;
  width: 20%;
  max-width: 200px;
  padding: .5em;
  margin: 1em;
  background: #ed6e46;
  color: #fff;
  border: 0px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

#set_alarm{
  margin-top: 25px;
}
button:hover{
  animation: animate 500ms ease-in-out;
}

button:focus{
  outline: none;
}

#format{
  display: none;
}

/**
      STYLE CLOCK CONTAINER AND CANVAS
**/

.container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90pt;
  font-weight: bolder;
  color: #fff;
}


/**
  MODAL DIALOG BOX CSS
**/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%;
}

/* The Close Button */
.close {
  position: relative;
  color: #aaaaaa;
  top: -.5em;
  right: -6em;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/**
SELECT DROP DOWN LIST
**/

select{
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #ccc;
  border-radius: 2px;
  width: 60px;
  height: 50px;
  margin: 1em;
}

select:hover, :active{
  border-bottom: 3px solid #8fd5d5;
  border-right: 3px solid #8fd5d5;
  box-shadow: 3px 3px #8fd5d5;
}

select:focus{
  outline: none;
}


/**
    ANIMATION
**/
@keyframes animate{
  0%{
    transform: scale(0.9);
  },
  20%{
    transform: scale(3);
  },
  100%{
    transform: scale(1);
  }
}
